 * {
    margin: 0;
    padding: 0%;
    background-color: rgb(27, 24, 24);
    color: whitesmoke;
 }

 .container {
    width: 800px;
    height: 800px;
    padding: 20px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 100px;
 }

 .left-block, .right-block {
    width: 300px;
    height: 300px;
    border: 1px solid whitesmoke;
    background-color: rgb(136, 89, 222);
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    padding: 30px;
 }

 .element {
    color: whitesmoke;
    padding: 10px 20px;
    width: 250px;
    margin: 0 auto;
    border: 1px solid whitesmoke;
    cursor: pointer;
 }